# name: CD

# on:
#   push:
#     branches:
#       - main
#     paths:
#       - '**'
#       - '!README.md'

# env:
#   BACKEND_IMAGE_NAME: globant-backend
#   FRONTEND_IMAGE_NAME: globant-frontend

# jobs:
#   build-and-deploy:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout code
#         uses: actions/checkout@v2
      
#       - name: Login to Docker Hub
#         uses: docker/login-action@v1
#         with:
#           username: ${{ secrets.DOCKER_USERNAME }}
#           password: ${{ secrets.DOCKER_PASSWORD }}

#       - name: Build Backend Docker image
#         run: docker build -t ${{ secrets.DOCKER_USERNAME }}/${{ env.BACKEND_IMAGE_NAME }}:${{ github.sha }} -f ./backend/Dockerfile ./backend

#       - name: Push Backend Docker image
#         run: docker push ${{ secrets.DOCKER_USERNAME }}/${{ env.BACKEND_IMAGE_NAME }}:${{ github.sha }}

#       - name: Build Frontend Docker image
#         run: docker build -t ${{ secrets.DOCKER_USERNAME }}/${{ env.FRONTEND_IMAGE_NAME }}:${{ github.sha }} -f ./frontend/Dockerfile ./frontend

#       - name: Push Frontend Docker image
#         run: docker push ${{ secrets.DOCKER_USERNAME }}/${{ env.FRONTEND_IMAGE_NAME }}:${{ github.sha }}

#       - name: Update values.yaml and commit
#         run: |
#           sed -i 's|repository:.*|repository: '${{ secrets.DOCKER_USERNAME }}/${{ env.BACKEND_IMAGE_NAME }}'|' ./music-player/values.yaml
#           sed -i 's|tag:.*|tag: '${{ github.sha }}'|' ./music-player/values.yaml
#           sed -i 's|repository:.*|repository: '${{ secrets.DOCKER_USERNAME }}/${{ env.FRONTEND_IMAGE_NAME }}'|' ./music-player/values.yaml
#           sed -i 's|tag:.*|tag: '${{ github.sha }}'|' ./music-player/values.yaml
#           git config --global user.name 'GitHub Actions'
#           git config --global user.email 'actions@github.com'
#           git checkout main
#           git pull origin main
#           git add ./music-player/values.yaml
#           git commit -m "Update music-player values.yaml with new image tags"
#           git push origin main

name: CD

on:
  push:
    branches:
      - main
    paths:
      - '**'
      - '!README.md'

env:
  BACKEND_IMAGE_NAME: globant-backend
  FRONTEND_IMAGE_NAME: globant-frontend

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Remove existing buildx builder instance
        run: |
          docker buildx rm mybuilder || true

      - name: Create and use a new buildx builder instance
        run: |
          docker buildx create --name mybuilder --use
          docker buildx inspect --bootstrap

      - name: Build and Push Backend Docker image
        run: |
          docker buildx build --platform linux/amd64,linux/arm64 -t ${{ secrets.DOCKER_USERNAME }}/${{ env.BACKEND_IMAGE_NAME }}:${{ github.sha }} -f ./backend/Dockerfile --push ./backend

      - name: Build and Push Frontend Docker image
        run: |
          docker buildx build --platform linux/amd64,linux/arm64 -t ${{ secrets.DOCKER_USERNAME }}/${{ env.FRONTEND_IMAGE_NAME }}:${{ github.sha }} -f ./frontend/Dockerfile --push ./frontend

      - name: Update Helm values.yaml
        run: |
          sed -i 's|repository:.*|repository: '${{ secrets.DOCKER_USERNAME }}/${{ env.BACKEND_IMAGE_NAME }}'|' ./helm/values.yaml
          sed -i 's|tag:.*|tag: '${{ github.sha }}'|' ./helm/values.yaml
          sed -i 's|repository:.*|repository: '${{ secrets.DOCKER_USERNAME }}/${{ env.FRONTEND_IMAGE_NAME }}'|' ./helm/values.yaml
          sed -i 's|tag:.*|tag: '${{ github.sha }}'|' ./helm/values.yaml
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'
          git checkout main
          git pull origin main
          git add ./helm/values.yaml
          git commit -m "Update Helm values.yaml with new image tags"
          git push origin main

      - name: Notify Argo CD to Sync (Optional)
        run: |
          # Replace this with your Argo CD CLI command if you want to manually trigger a sync
          # argo-cd app sync my-app